In [3]:
import numpy as np 
import pandas as pd

In [4]:
outside_index = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside_index = [1, 2, 3, 1, 2, 3]

In [5]:
hier_index = list(zip(outside_index, inside_index))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])
df

             A         B
G1 1  1.494800 -2.101839
   2  0.635247  0.783872
   3  1.709635 -0.836488
G2 1 -0.291952 -0.950544
   2 -0.824840  2.006043
   3 -0.048395 -0.360119

In [8]:
df.loc["G1"]

          A         B
1  1.494800 -2.101839
2  0.635247  0.783872
3  1.709635 -0.836488

In [9]:
df.loc["G1"].loc[1]

A    1.494800
B   -2.101839
Name: 1, dtype: float64

In [10]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names = ["Groups", "Num"]
df.index.names

FrozenList(['Groups', 'Num'])

In [13]:
df

                   A         B
Groups Num
G1     1    1.494800 -2.101839
       2    0.635247  0.783872
       3    1.709635 -0.836488
G2     1   -0.291952 -0.950544
       2   -0.824840  2.006043
       3   -0.048395 -0.360119

In [14]:
# cross section
df.xs(1, level="Num")

               A         B
Groups
G1      1.494800 -2.101839
G2     -0.291952 -0.950544